In [1]:
from google.colab import drive
drive.mount('/content/drive/')

%cd drive/MyDrive/sber_risk_spark/lesson_4/

Mounted at /content/drive/
/content/drive/MyDrive/sber_risk_spark/lesson_4

In [2]:
!pip install pyspark findspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 31 kB/s
Collecting findspark
  Downloading findspark-1.4.2-py2.py3-none-any.whl (4.2 kB)
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 49.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=6555d795ca65c3819ac90a5108b3fd7b61d9ccf82df673d5ea2389c8b0de456c
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark, findspark
Successfully installed findspark-1.4.2 py4j-0.10.9.2 pyspark-3.2.0

In [3]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

conf = SparkConf().set('spark.ui.port', '4050').set('spark.serializer', 'org.apache.spark.serializer.KryoSerializer')\
                  .set('spark.dynamicAllocation.enabled', 'true')\
                  .set('spark.shuffle.service.enabled', 'true') #трекер, чтобы возвращать ресурсы
sc = SparkContext(conf=conf)
spark = SparkSession.builder.master('local[*]').getOrCreate()

Анализировать будет датасет отсюда https://www.kaggle.com/shelvigarg/credit-card-buyers

Definition

ID - Unique Identifier for a row

Gender - Gender of the Customer

Age - Age of the Customer (in Years)

Region_Code - Code of the Region for the customers

Occupation - Occupation Type for the customer

Channel_Code - Acquisition Channel Code for the Customer (Encoded)

Vintage - Vintage for the Customer (In Months)

Credit_Product - If the Customer has any active credit product (Home loan Personal loan, Credit Card etc.)

AvgAccountBalance - Average Account Balance for the Customer in last 12 Months

Is_Active - If the Customer is Active in last 3 Months

Загрузим данные и посмотрим, что там внутри

In [4]:
data = spark.read.csv('credit_card_data.csv', header=True, inferSchema=True)

In [5]:
data.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Region_Code: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Channel_Code: string (nullable = true)
 |-- Vintage: integer (nullable = true)
 |-- Credit_Product: string (nullable = true)
 |-- Avg_Account_Balance: integer (nullable = true)
 |-- Is_Active: string (nullable = true)
 |-- Is_Lead: integer (nullable = true)

In [6]:
data.show()

+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+
|      ID|Gender|Age|Region_Code|   Occupation|Channel_Code|Vintage|Credit_Product|Avg_Account_Balance|Is_Active|Is_Lead|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+
|NNVBBKZB|Female| 73|      RG268|        Other|          X3|     43|            No|            1045696|       No|      0|
|IDD62UNG|Female| 30|      RG277|     Salaried|          X1|     32|            No|             581988|       No|      0|
|HD3DSEMC|Female| 56|      RG268|Self_Employed|          X3|     26|            No|            1484315|      Yes|      0|
|BF3NC7KV|  Male| 34|      RG270|     Salaried|          X1|     19|            No|             470454|       No|      0|
|TEASRWXV|Female| 30|      RG282|     Salaried|          X1|     33|            No|             886787|       No|      0|
|ACUTYTWS|  Male| 56|      RG261|Self_Employed|          X1|     32|            No|             544163|      Yes|      0|
|ETQCZFEJ|  Male| 62|      RG282|        Other|          X3|     20|          null|            1056750|      Yes|      1|
|JJNJUQMQ|Female| 48|      RG265|Self_Employed|          X3|     13|            No|             444724|      Yes|      0|
|ZMQFYKCB|Female| 40|      RG283|Self_Employed|          X2|     38|            No|            1274284|       No|      0|
|NVKTFBA2|Female| 55|      RG268|Self_Employed|          X2|     49|           Yes|            2014239|       No|      0|
|NVC424KZ|  Male| 53|      RG254|Self_Employed|          X3|    123|            No|             980664|      Yes|      0|
|GZ5TMYIR|  Male| 27|      RG270|Self_Employed|          X1|     14|           Yes|             502787|       No|      0|
|FCPEEIY3|Female| 27|      RG277|     Salaried|          X1|     20|            No|             811591|      Yes|      0|
|KCE7JSFN|  Male| 31|      RG254|     Salaried|          X1|     31|           Yes|             938754|       No|      0|
|EMEEHHBK|  Male| 79|      RG277|        Other|          X3|     57|            No|             832185|      Yes|      0|
|UJ2NJKKL|  Male| 33|      RG268|Self_Employed|          X2|     69|          null|             517063|      Yes|      1|
|CNGSPYWS|Female| 46|      RG268|        Other|          X3|     97|           Yes|            2282502|       No|      1|
|VH7NBNNQ|Female| 59|      RG283|        Other|          X3|     15|           Yes|            2384692|       No|      1|
|HDNJXDWC|Female| 65|      RG277|        Other|          X2|     20|            No|             341573|      Yes|      0|
|BDOKI4CP|Female| 37|      RG269|        Other|          X1|     63|            No|             633484|      Yes|      0|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+
only showing top 20 rows

Посмотрим различные базовые вещи

In [7]:
from pyspark.sql.functions import col,isnan, when, count

In [8]:
data.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in data.columns]).show()

+---+------+---+-----------+----------+------------+-------+--------------+-------------------+---------+-------+
| ID|Gender|Age|Region_Code|Occupation|Channel_Code|Vintage|Credit_Product|Avg_Account_Balance|Is_Active|Is_Lead|
+---+------+---+-----------+----------+------------+-------+--------------+-------------------+---------+-------+
|  0|     0|  0|          0|         0|           0|      0|         29325|                  0|        0|      0|
+---+------+---+-----------+----------+------------+-------+--------------+-------------------+---------+-------+

Пропуски только в кредитном продукте, логично заметь на тип, что кредита нет

In [9]:
data.select(col('Credit_Product')).groupBy('Credit_Product').count().show()

+--------------+------+
|Credit_Product| count|
+--------------+------+
|            No|144357|
|           Yes| 72043|
|          null| 29325|
+--------------+------+

In [10]:
data = data.fillna({'Credit_Product': 'No'})

Проверим

In [11]:
data.select(col('Credit_Product')).groupBy('Credit_Product').count().show()

+--------------+------+
|Credit_Product| count|
+--------------+------+
|            No|173682|
|           Yes| 72043|
+--------------+------+

Посмотри на данные с точки зрения дисбаланса классов

In [12]:
data.count()

245725

In [13]:
import pyspark.sql.functions as F

In [14]:
data.select(col('Is_Lead'))\
    .groupBy('Is_Lead')\
    .count()\
    .withColumn('count', F.round(col('count') / data.count(), 2))\
    .show()

+-------+-----+
|Is_Lead|count|
+-------+-----+
|      1| 0.24|
|      0| 0.76|
+-------+-----+

Ладно, достаточно, мы тут сейчас говорим про MLlib, всякие анализы - тема прошлого семинара

**Некоторые преобразования данных**

Начнем с простой обработки категориальных переменных

In [15]:
from pyspark.ml.feature import StringIndexer, IndexToString, OneHotEncoder

In [16]:
gender_indexer = StringIndexer(inputCol="Gender", outputCol="GenderIndex")
gender_indexer = gender_indexer.fit(data)
data = gender_indexer.transform(data)

data.show()

+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+
|      ID|Gender|Age|Region_Code|   Occupation|Channel_Code|Vintage|Credit_Product|Avg_Account_Balance|Is_Active|Is_Lead|GenderIndex|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+
|NNVBBKZB|Female| 73|      RG268|        Other|          X3|     43|            No|            1045696|       No|      0|        1.0|
|IDD62UNG|Female| 30|      RG277|     Salaried|          X1|     32|            No|             581988|       No|      0|        1.0|
|HD3DSEMC|Female| 56|      RG268|Self_Employed|          X3|     26|            No|            1484315|      Yes|      0|        1.0|
|BF3NC7KV|  Male| 34|      RG270|     Salaried|          X1|     19|            No|             470454|       No|      0|        0.0|
|TEASRWXV|Female| 30|      RG282|     Salaried|          X1|     33|            No|             886787|       No|      0|        1.0|
|ACUTYTWS|  Male| 56|      RG261|Self_Employed|          X1|     32|            No|             544163|      Yes|      0|        0.0|
|ETQCZFEJ|  Male| 62|      RG282|        Other|          X3|     20|            No|            1056750|      Yes|      1|        0.0|
|JJNJUQMQ|Female| 48|      RG265|Self_Employed|          X3|     13|            No|             444724|      Yes|      0|        1.0|
|ZMQFYKCB|Female| 40|      RG283|Self_Employed|          X2|     38|            No|            1274284|       No|      0|        1.0|
|NVKTFBA2|Female| 55|      RG268|Self_Employed|          X2|     49|           Yes|            2014239|       No|      0|        1.0|
|NVC424KZ|  Male| 53|      RG254|Self_Employed|          X3|    123|            No|             980664|      Yes|      0|        0.0|
|GZ5TMYIR|  Male| 27|      RG270|Self_Employed|          X1|     14|           Yes|             502787|       No|      0|        0.0|
|FCPEEIY3|Female| 27|      RG277|     Salaried|          X1|     20|            No|             811591|      Yes|      0|        1.0|
|KCE7JSFN|  Male| 31|      RG254|     Salaried|          X1|     31|           Yes|             938754|       No|      0|        0.0|
|EMEEHHBK|  Male| 79|      RG277|        Other|          X3|     57|            No|             832185|      Yes|      0|        0.0|
|UJ2NJKKL|  Male| 33|      RG268|Self_Employed|          X2|     69|            No|             517063|      Yes|      1|        0.0|
|CNGSPYWS|Female| 46|      RG268|        Other|          X3|     97|           Yes|            2282502|       No|      1|        1.0|
|VH7NBNNQ|Female| 59|      RG283|        Other|          X3|     15|           Yes|            2384692|       No|      1|        1.0|
|HDNJXDWC|Female| 65|      RG277|        Other|          X2|     20|            No|             341573|      Yes|      0|        1.0|
|BDOKI4CP|Female| 37|      RG269|        Other|          X1|     63|            No|             633484|      Yes|      0|        1.0|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+
only showing top 20 rows

In [17]:
gender_indexer.labels

['Male', 'Female']

Обратная трансформация доступна через метод

In [18]:
converter = IndexToString(inputCol="GenderIndex", outputCol="originalGender")
data = converter.transform(data)
data.show()

+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+--------------+
|      ID|Gender|Age|Region_Code|   Occupation|Channel_Code|Vintage|Credit_Product|Avg_Account_Balance|Is_Active|Is_Lead|GenderIndex|originalGender|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+--------------+
|NNVBBKZB|Female| 73|      RG268|        Other|          X3|     43|            No|            1045696|       No|      0|        1.0|        Female|
|IDD62UNG|Female| 30|      RG277|     Salaried|          X1|     32|            No|             581988|       No|      0|        1.0|        Female|
|HD3DSEMC|Female| 56|      RG268|Self_Employed|          X3|     26|            No|            1484315|      Yes|      0|        1.0|        Female|
|BF3NC7KV|  Male| 34|      RG270|     Salaried|          X1|     19|            No|             470454|       No|      0|        0.0|          Male|
|TEASRWXV|Female| 30|      RG282|     Salaried|          X1|     33|            No|             886787|       No|      0|        1.0|        Female|
|ACUTYTWS|  Male| 56|      RG261|Self_Employed|          X1|     32|            No|             544163|      Yes|      0|        0.0|          Male|
|ETQCZFEJ|  Male| 62|      RG282|        Other|          X3|     20|            No|            1056750|      Yes|      1|        0.0|          Male|
|JJNJUQMQ|Female| 48|      RG265|Self_Employed|          X3|     13|            No|             444724|      Yes|      0|        1.0|        Female|
|ZMQFYKCB|Female| 40|      RG283|Self_Employed|          X2|     38|            No|            1274284|       No|      0|        1.0|        Female|
|NVKTFBA2|Female| 55|      RG268|Self_Employed|          X2|     49|           Yes|            2014239|       No|      0|        1.0|        Female|
|NVC424KZ|  Male| 53|      RG254|Self_Employed|          X3|    123|            No|             980664|      Yes|      0|        0.0|          Male|
|GZ5TMYIR|  Male| 27|      RG270|Self_Employed|          X1|     14|           Yes|             502787|       No|      0|        0.0|          Male|
|FCPEEIY3|Female| 27|      RG277|     Salaried|          X1|     20|            No|             811591|      Yes|      0|        1.0|        Female|
|KCE7JSFN|  Male| 31|      RG254|     Salaried|          X1|     31|           Yes|             938754|       No|      0|        0.0|          Male|
|EMEEHHBK|  Male| 79|      RG277|        Other|          X3|     57|            No|             832185|      Yes|      0|        0.0|          Male|
|UJ2NJKKL|  Male| 33|      RG268|Self_Employed|          X2|     69|            No|             517063|      Yes|      1|        0.0|          Male|
|CNGSPYWS|Female| 46|      RG268|        Other|          X3|     97|           Yes|            2282502|       No|      1|        1.0|        Female|
|VH7NBNNQ|Female| 59|      RG283|        Other|          X3|     15|           Yes|            2384692|       No|      1|        1.0|        Female|
|HDNJXDWC|Female| 65|      RG277|        Other|          X2|     20|            No|             341573|      Yes|      0|        1.0|        Female|
|BDOKI4CP|Female| 37|      RG269|        Other|          X1|     63|            No|             633484|      Yes|      0|        1.0|        Female|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+--------------+
only showing top 20 rows

Давайте аналогично поступим с каналом продаж и типом занятости

In [19]:
occupation_indexer = StringIndexer(inputCol="Occupation", outputCol="OccupationIndex")
occupation_indexer = occupation_indexer.fit(data)
data = occupation_indexer.transform(data)

channel_indexer = StringIndexer(inputCol="Channel_Code", outputCol="ChannelIndex")
channel_indexer = channel_indexer.fit(data)
data = channel_indexer.transform(data)

data.show()

+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+--------------+---------------+------------+
|      ID|Gender|Age|Region_Code|   Occupation|Channel_Code|Vintage|Credit_Product|Avg_Account_Balance|Is_Active|Is_Lead|GenderIndex|originalGender|OccupationIndex|ChannelIndex|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+--------------+---------------+------------+
|NNVBBKZB|Female| 73|      RG268|        Other|          X3|     43|            No|            1045696|       No|      0|        1.0|        Female|            2.0|         1.0|
|IDD62UNG|Female| 30|      RG277|     Salaried|          X1|     32|            No|             581988|       No|      0|        1.0|        Female|            1.0|         0.0|
|HD3DSEMC|Female| 56|      RG268|Self_Employed|          X3|     26|            No|            1484315|      Yes|      0|        1.0|        Female|            0.0|         1.0|
|BF3NC7KV|  Male| 34|      RG270|     Salaried|          X1|     19|            No|             470454|       No|      0|        0.0|          Male|            1.0|         0.0|
|TEASRWXV|Female| 30|      RG282|     Salaried|          X1|     33|            No|             886787|       No|      0|        1.0|        Female|            1.0|         0.0|
|ACUTYTWS|  Male| 56|      RG261|Self_Employed|          X1|     32|            No|             544163|      Yes|      0|        0.0|          Male|            0.0|         0.0|
|ETQCZFEJ|  Male| 62|      RG282|        Other|          X3|     20|            No|            1056750|      Yes|      1|        0.0|          Male|            2.0|         1.0|
|JJNJUQMQ|Female| 48|      RG265|Self_Employed|          X3|     13|            No|             444724|      Yes|      0|        1.0|        Female|            0.0|         1.0|
|ZMQFYKCB|Female| 40|      RG283|Self_Employed|          X2|     38|            No|            1274284|       No|      0|        1.0|        Female|            0.0|         2.0|
|NVKTFBA2|Female| 55|      RG268|Self_Employed|          X2|     49|           Yes|            2014239|       No|      0|        1.0|        Female|            0.0|         2.0|
|NVC424KZ|  Male| 53|      RG254|Self_Employed|          X3|    123|            No|             980664|      Yes|      0|        0.0|          Male|            0.0|         1.0|
|GZ5TMYIR|  Male| 27|      RG270|Self_Employed|          X1|     14|           Yes|             502787|       No|      0|        0.0|          Male|            0.0|         0.0|
|FCPEEIY3|Female| 27|      RG277|     Salaried|          X1|     20|            No|             811591|      Yes|      0|        1.0|        Female|            1.0|         0.0|
|KCE7JSFN|  Male| 31|      RG254|     Salaried|          X1|     31|           Yes|             938754|       No|      0|        0.0|          Male|            1.0|         0.0|
|EMEEHHBK|  Male| 79|      RG277|        Other|          X3|     57|            No|             832185|      Yes|      0|        0.0|          Male|            2.0|         1.0|
|UJ2NJKKL|  Male| 33|      RG268|Self_Employed|          X2|     69|            No|             517063|      Yes|      1|        0.0|          Male|            0.0|         2.0|
|CNGSPYWS|Female| 46|      RG268|        Other|          X3|     97|           Yes|            2282502|       No|      1|        1.0|        Female|            2.0|         1.0|
|VH7NBNNQ|Female| 59|      RG283|        Other|          X3|     15|           Yes|            2384692|       No|      1|        1.0|        Female|            2.0|         1.0|
|HDNJXDWC|Female| 65|      RG277|        Other|          X2|     20|            No|             341573|      Yes|      0|        1.0|        Female|            2.0|         2.0|
|BDOKI4CP|Female| 37|      RG269|        Other|          X1|     63|            No|             633484|      Yes|      0|        1.0|        Female|            2.0|         0.0|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+--------------+---------------+------------+
only showing top 20 rows

In [20]:
print(f'Occupation len = {len(occupation_indexer.labels)}, Channel_code len = {len(channel_indexer.labels)}')

Occupation len = 4, Channel_code len = 4

Тут по 4 категории, что самое простое, что приходит в голову? Правильно - OHE

In [21]:
ohe_encoder = OneHotEncoder(inputCols=["OccupationIndex", "ChannelIndex"],
                        outputCols=["OccupationVector", "ChannelVec"])
ohe_encoder = ohe_encoder.fit(data)
data = ohe_encoder.transform(data)

data.show()

+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+--------------+---------------+------------+----------------+-------------+
|      ID|Gender|Age|Region_Code|   Occupation|Channel_Code|Vintage|Credit_Product|Avg_Account_Balance|Is_Active|Is_Lead|GenderIndex|originalGender|OccupationIndex|ChannelIndex|OccupationVector|   ChannelVec|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+--------------+---------------+------------+----------------+-------------+
|NNVBBKZB|Female| 73|      RG268|        Other|          X3|     43|            No|            1045696|       No|      0|        1.0|        Female|            2.0|         1.0|   (3,[2],[1.0])|(3,[1],[1.0])|
|IDD62UNG|Female| 30|      RG277|     Salaried|          X1|     32|            No|             581988|       No|      0|        1.0|        Female|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|
|HD3DSEMC|Female| 56|      RG268|Self_Employed|          X3|     26|            No|            1484315|      Yes|      0|        1.0|        Female|            0.0|         1.0|   (3,[0],[1.0])|(3,[1],[1.0])|
|BF3NC7KV|  Male| 34|      RG270|     Salaried|          X1|     19|            No|             470454|       No|      0|        0.0|          Male|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|
|TEASRWXV|Female| 30|      RG282|     Salaried|          X1|     33|            No|             886787|       No|      0|        1.0|        Female|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|
|ACUTYTWS|  Male| 56|      RG261|Self_Employed|          X1|     32|            No|             544163|      Yes|      0|        0.0|          Male|            0.0|         0.0|   (3,[0],[1.0])|(3,[0],[1.0])|
|ETQCZFEJ|  Male| 62|      RG282|        Other|          X3|     20|            No|            1056750|      Yes|      1|        0.0|          Male|            2.0|         1.0|   (3,[2],[1.0])|(3,[1],[1.0])|
|JJNJUQMQ|Female| 48|      RG265|Self_Employed|          X3|     13|            No|             444724|      Yes|      0|        1.0|        Female|            0.0|         1.0|   (3,[0],[1.0])|(3,[1],[1.0])|
|ZMQFYKCB|Female| 40|      RG283|Self_Employed|          X2|     38|            No|            1274284|       No|      0|        1.0|        Female|            0.0|         2.0|   (3,[0],[1.0])|(3,[2],[1.0])|
|NVKTFBA2|Female| 55|      RG268|Self_Employed|          X2|     49|           Yes|            2014239|       No|      0|        1.0|        Female|            0.0|         2.0|   (3,[0],[1.0])|(3,[2],[1.0])|
|NVC424KZ|  Male| 53|      RG254|Self_Employed|          X3|    123|            No|             980664|      Yes|      0|        0.0|          Male|            0.0|         1.0|   (3,[0],[1.0])|(3,[1],[1.0])|
|GZ5TMYIR|  Male| 27|      RG270|Self_Employed|          X1|     14|           Yes|             502787|       No|      0|        0.0|          Male|            0.0|         0.0|   (3,[0],[1.0])|(3,[0],[1.0])|
|FCPEEIY3|Female| 27|      RG277|     Salaried|          X1|     20|            No|             811591|      Yes|      0|        1.0|        Female|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|
|KCE7JSFN|  Male| 31|      RG254|     Salaried|          X1|     31|           Yes|             938754|       No|      0|        0.0|          Male|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|
|EMEEHHBK|  Male| 79|      RG277|        Other|          X3|     57|            No|             832185|      Yes|      0|        0.0|          Male|            2.0|         1.0|   (3,[2],[1.0])|(3,[1],[1.0])|
|UJ2NJKKL|  Male| 33|      RG268|Self_Employed|          X2|     69|            No|             517063|      Yes|      1|        0.0|          Male|            0.0|         2.0|   (3,[0],[1.0])|(3,[2],[1.0])|
|CNGSPYWS|Female| 46|      RG268|        Other|          X3|     97|           Yes|            2282502|       No|      1|        1.0|        Female|            2.0|         1.0|   (3,[2],[1.0])|(3,[1],[1.0])|
|VH7NBNNQ|Female| 59|      RG283|        Other|          X3|     15|           Yes|            2384692|       No|      1|        1.0|        Female|            2.0|         1.0|   (3,[2],[1.0])|(3,[1],[1.0])|
|HDNJXDWC|Female| 65|      RG277|        Other|          X2|     20|            No|             341573|      Yes|      0|        1.0|        Female|            2.0|         2.0|   (3,[2],[1.0])|(3,[2],[1.0])|
|BDOKI4CP|Female| 37|      RG269|        Other|          X1|     63|            No|             633484|      Yes|      0|        1.0|        Female|            2.0|         0.0|   (3,[2],[1.0])|(3,[0],[1.0])|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+--------------+---------------+------------+----------------+-------------+
only showing top 20 rows

In [22]:
ohe_encoder.categorySizes

[4, 4]

Странный формат, не правда ли? Все из-за того, что тут у нас SparseVector

 На 4 категории нужен вектор размерности 3, а дальше храним позицию и 1 там, где нужная категория

In [23]:
data.select(col('OccupationVector')).head()

Row(OccupationVector=SparseVector(3, {2: 1.0}))

Теперь все надо собрать в одну структуру, чтобы можно было анализировать данные и строить модели

In [24]:
from pyspark.ml.feature import VectorAssembler

In [25]:
data.show(5)

+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+--------------+---------------+------------+----------------+-------------+
|      ID|Gender|Age|Region_Code|   Occupation|Channel_Code|Vintage|Credit_Product|Avg_Account_Balance|Is_Active|Is_Lead|GenderIndex|originalGender|OccupationIndex|ChannelIndex|OccupationVector|   ChannelVec|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+--------------+---------------+------------+----------------+-------------+
|NNVBBKZB|Female| 73|      RG268|        Other|          X3|     43|            No|            1045696|       No|      0|        1.0|        Female|            2.0|         1.0|   (3,[2],[1.0])|(3,[1],[1.0])|
|IDD62UNG|Female| 30|      RG277|     Salaried|          X1|     32|            No|             581988|       No|      0|        1.0|        Female|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|
|HD3DSEMC|Female| 56|      RG268|Self_Employed|          X3|     26|            No|            1484315|      Yes|      0|        1.0|        Female|            0.0|         1.0|   (3,[0],[1.0])|(3,[1],[1.0])|
|BF3NC7KV|  Male| 34|      RG270|     Salaried|          X1|     19|            No|             470454|       No|      0|        0.0|          Male|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|
|TEASRWXV|Female| 30|      RG282|     Salaried|          X1|     33|            No|             886787|       No|      0|        1.0|        Female|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+--------------+---------------+------------+----------------+-------------+
only showing top 5 rows

In [26]:
feature_columns = [
                   'Age',
                   'Vintage',
                   'Avg_Account_Balance',
                   'GenderIndex',
                   'OccupationVector',
                   'ChannelVec'                 
]

In [27]:
df_va = VectorAssembler(inputCols = feature_columns, outputCol = 'features')
data = df_va.transform(data)

In [28]:
data.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Region_Code: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Channel_Code: string (nullable = true)
 |-- Vintage: integer (nullable = true)
 |-- Credit_Product: string (nullable = false)
 |-- Avg_Account_Balance: integer (nullable = true)
 |-- Is_Active: string (nullable = true)
 |-- Is_Lead: integer (nullable = true)
 |-- GenderIndex: double (nullable = false)
 |-- originalGender: string (nullable = true)
 |-- OccupationIndex: double (nullable = false)
 |-- ChannelIndex: double (nullable = false)
 |-- OccupationVector: vector (nullable = true)
 |-- ChannelVec: vector (nullable = true)
 |-- features: vector (nullable = true)

In [29]:
data.show(3)

+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+--------------+---------------+------------+----------------+-------------+--------------------+
|      ID|Gender|Age|Region_Code|   Occupation|Channel_Code|Vintage|Credit_Product|Avg_Account_Balance|Is_Active|Is_Lead|GenderIndex|originalGender|OccupationIndex|ChannelIndex|OccupationVector|   ChannelVec|            features|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+--------------+---------------+------------+----------------+-------------+--------------------+
|NNVBBKZB|Female| 73|      RG268|        Other|          X3|     43|            No|            1045696|       No|      0|        1.0|        Female|            2.0|         1.0|   (3,[2],[1.0])|(3,[1],[1.0])|[73.0,43.0,104569...|
|IDD62UNG|Female| 30|      RG277|     Salaried|          X1|     32|            No|             581988|       No|      0|        1.0|        Female|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|[30.0,32.0,581988...|
|HD3DSEMC|Female| 56|      RG268|Self_Employed|          X3|     26|            No|            1484315|      Yes|      0|        1.0|        Female|            0.0|         1.0|   (3,[0],[1.0])|(3,[1],[1.0])|[56.0,26.0,148431...|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+--------------+---------------+------------+----------------+-------------+--------------------+
only showing top 3 rows

В полученном features можно автоматичеки проанализировать все переменные и если у кого-то уникальных значений меньше заданного вами порога, то они автоматичсеки переведутся в индексы при помощи pyspark.ml.feature import VectorIndexer

**Статистика**

В ml pyspark есть некоторые статистические методы, которые можно использовать для анализа

Корреляция

In [30]:
from pyspark.ml.stat import Correlation

In [31]:
corr = Correlation.corr(data, 'features', method='pearson').collect()[0][0]

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

In [32]:
corr

DenseMatrix(10, 10, [1.0, 0.6312, 0.1452, -0.1521, 0.1527, -0.5632, 0.3948, -0.6646, ..., 0.0102, -0.116, 0.2933, -0.3238, 0.0005, -0.5272, -0.3843, 1.0], False)

In [33]:
corr.toArray()

array([[ 1.00000000e+00,  6.31242411e-01,  1.45232189e-01,
        -1.52075940e-01,  1.52651808e-01, -5.63226982e-01,
         3.94834177e-01, -6.64600051e-01,  4.56338440e-01,
         2.73153253e-01],
       [ 6.31242411e-01,  1.00000000e+00,  1.67433481e-01,
        -1.46379743e-01,  2.21023818e-01, -4.10109383e-01,
         1.55662661e-01, -5.71828453e-01,  5.38828562e-01,
         1.44931244e-01],
       [ 1.45232189e-01,  1.67433481e-01,  1.00000000e+00,
        -2.24772031e-02,  3.46714040e-03, -7.16906860e-02,
         6.03874569e-02, -9.81785292e-02,  1.06905544e-01,
         1.01634033e-02],
       [-1.52075940e-01, -1.46379743e-01, -2.24772031e-02,
         1.00000000e+00, -8.58626857e-02,  1.22439249e-01,
        -2.58175123e-02,  1.84372479e-01, -8.07817702e-02,
        -1.16018433e-01],
       [ 1.52651808e-01,  2.21023818e-01,  3.46714040e-03,
        -8.58626857e-02,  1.00000000e+00, -5.37283514e-01,
        -5.27660791e-01, -4.34990948e-01,  1.63662837e-01,
         2.93303563e-01],
       [-5.63226982e-01, -4.10109383e-01, -7.16906860e-02,
         1.22439249e-01, -5.37283514e-01,  1.00000000e+00,
        -4.07017379e-01,  5.90747136e-01, -3.07398921e-01,
        -3.23819864e-01],
       [ 3.94834177e-01,  1.55662661e-01,  6.03874569e-02,
        -2.58175123e-02, -5.27660791e-01, -4.07017379e-01,
         1.00000000e+00, -1.04278488e-01,  1.19212770e-01,
         4.66283346e-04],
       [-6.64600051e-01, -5.71828453e-01, -9.81785292e-02,
         1.84372479e-01, -4.34990948e-01,  5.90747136e-01,
        -1.04278488e-01,  1.00000000e+00, -5.32458671e-01,
        -5.27158389e-01],
       [ 4.56338440e-01,  5.38828562e-01,  1.06905544e-01,
        -8.07817702e-02,  1.63662837e-01, -3.07398921e-01,
         1.19212770e-01, -5.32458671e-01,  1.00000000e+00,
        -3.84310850e-01],
       [ 2.73153253e-01,  1.44931244e-01,  1.01634033e-02,
        -1.16018433e-01,  2.93303563e-01, -3.23819864e-01,
         4.66283346e-04, -5.27158389e-01, -3.84310850e-01,
         1.00000000e+00]])

Можно вычислить корреляцию спирмена

In [34]:
corr = Correlation.corr(data, 'features', method='spearman').collect()[0][0]
corr.toArray()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

array([[ 1.00000000e+00,  6.52477119e-01,  1.78395617e-01,
        -1.66276503e-01,  2.50479037e-01, -5.94192974e-01,
         3.16280765e-01, -7.14324073e-01,  4.68523607e-01,
         3.11874367e-01],
       [ 6.52477119e-01,  1.00000000e+00,  1.98039737e-01,
        -1.37241231e-01,  2.26617372e-01, -4.03612329e-01,
         1.44248315e-01, -5.43361590e-01,  4.88850315e-01,
         1.86509197e-01],
       [ 1.78395617e-01,  1.98039737e-01,  1.00000000e+00,
        -3.35726184e-02,  1.74003362e-02, -9.65169583e-02,
         6.80005979e-02, -1.34528255e-01,  1.34941462e-01,
         2.41122172e-02],
       [-1.66276503e-01, -1.37241231e-01, -3.35726184e-02,
         1.00000000e+00, -8.58626857e-02,  1.22439249e-01,
        -2.58175123e-02,  1.84372479e-01, -8.07817702e-02,
        -1.16018433e-01],
       [ 2.50479037e-01,  2.26617372e-01,  1.74003362e-02,
        -8.58626857e-02,  1.00000000e+00, -5.37283514e-01,
        -5.27660791e-01, -4.34990948e-01,  1.63662837e-01,
         2.93303563e-01],
       [-5.94192974e-01, -4.03612329e-01, -9.65169583e-02,
         1.22439249e-01, -5.37283514e-01,  1.00000000e+00,
        -4.07017379e-01,  5.90747136e-01, -3.07398921e-01,
        -3.23819864e-01],
       [ 3.16280765e-01,  1.44248315e-01,  6.80005979e-02,
        -2.58175123e-02, -5.27660791e-01, -4.07017379e-01,
         1.00000000e+00, -1.04278488e-01,  1.19212770e-01,
         4.66283346e-04],
       [-7.14324073e-01, -5.43361590e-01, -1.34528255e-01,
         1.84372479e-01, -4.34990948e-01,  5.90747136e-01,
        -1.04278488e-01,  1.00000000e+00, -5.32458671e-01,
        -5.27158389e-01],
       [ 4.68523607e-01,  4.88850315e-01,  1.34941462e-01,
        -8.07817702e-02,  1.63662837e-01, -3.07398921e-01,
         1.19212770e-01, -5.32458671e-01,  1.00000000e+00,
        -3.84310850e-01],
       [ 3.11874367e-01,  1.86509197e-01,  2.41122172e-02,
        -1.16018433e-01,  2.93303563e-01, -3.23819864e-01,
         4.66283346e-04, -5.27158389e-01, -3.84310850e-01,
         1.00000000e+00]])

Можно использовать хи-квадрат тест для оценки независимости каждой переменной в features относительно целевого признака, но этот тест для категориальных переменных, поэтому для примера на одной фиче

In [35]:
from pyspark.ml.stat import ChiSquareTest, KolmogorovSmirnovTest, Summarizer

In [36]:
r = ChiSquareTest.test(data, "OccupationVector", "Is_Lead")

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

In [37]:
r.show()

+--------------------+----------------+--------------------+
|             pValues|degreesOfFreedom|          statistics|
+--------------------+----------------+--------------------+
|[0.0,0.0,1.161583...|       [1, 1, 1]|[1420.86324574575...|
+--------------------+----------------+--------------------+

KS-тест

In [38]:
data.select(
    F.mean(col('Age')).alias('mean_Age'),
    F.stddev(col('Age')).alias('std_Age')
).collect()

[Row(mean_Age=43.85630684708516, std_Age=14.828671804648007)]

In [39]:
ks = KolmogorovSmirnovTest.test(data, 'Age', 'norm', 44, 15).first()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

In [40]:
ks

Row(pValue=2.045950076023928e-10, statistic=0.12561207843265515)

Еще можно посчитать разные статистики

In [41]:
summarizer = Summarizer.metrics("mean", "count")
data.select(summarizer.summary(data.features)).show(truncate=False)

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|aggregate_metrics(features, 1.0)                                                                                                                                                                        |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|{[43.8563068470854,46.95914131651267,1128403.101019436,0.4538732322718486,0.4105646556109472,0.29300640960423235,0.2855753382846678,0.42208973445925324,0.2796296673110184,0.27561705158205313], 245725}|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

**Работа с фичами**

Квантизация

In [42]:
from pyspark.ml.feature import QuantileDiscretizer

Обучаем

In [43]:
discretizer = QuantileDiscretizer(numBuckets=5, inputCol="Age", outputCol="Age_quant")
discretizer = discretizer.fit(data)

In [44]:
data = discretizer.transform(data)

In [45]:
data.select('Age', 'Age_quant')\
    .groupby('Age_quant').agg(
        F.min('Age').alias('min_age'),
        F.max('Age').alias('max_age'),
        F.count('Age').alias('count')
    )\
    .orderBy('Age_quant')\
    .show(5)

+---------+-------+-------+-----+
|Age_quant|min_age|max_age|count|
+---------+-------+-------+-----+
|      0.0|     23|     28|43790|
|      1.0|     29|     35|52017|
|      2.0|     36|     46|46007|
|      3.0|     47|     55|50808|
|      4.0|     56|     85|53103|
+---------+-------+-------+-----+

Заполнить пропуски можно через Imputer

Заполнять пропуски умеет только для числовых переменных, поэтому попробуем на игрушечном примере

In [46]:
from pyspark.ml.feature import Imputer

In [47]:
df = spark.createDataFrame([
    (1.0, float("nan")),
    (2.0, float("nan")),
    (float("nan"), 3.0),
    (4.0, 4.0),
    (5.0, 5.0)
], ["a", "b"])

#стратегия может быть 'mean', 'median', 'mode'
#через setMissingValue(0.0) можно сказать, что пропуски - это 0
imputer = Imputer(inputCols=["a", "b"], outputCols=["out_a", "out_b"], strategy='mean')
imputer = imputer.fit(df)
imputer.transform(df).show()

+---+---+-----+-----+
|  a|  b|out_a|out_b|
+---+---+-----+-----+
|1.0|NaN|  1.0|  4.0|
|2.0|NaN|  2.0|  4.0|
|NaN|3.0|  3.0|  3.0|
|4.0|4.0|  4.0|  4.0|
|5.0|5.0|  5.0|  5.0|
+---+---+-----+-----+

**Pipeline**

Как и в scikit-learn можно создавать пайплайны обработки данных

Мы много делали преобразований, давайте соберем все в 1 пайплайн

In [48]:
from pyspark.ml import Pipeline

In [49]:
#string в индесы
gender_indexer = StringIndexer(inputCol="Gender", outputCol="GenderIndex")
occupation_indexer = StringIndexer(inputCol="Occupation", outputCol="OccupationIndex")
channel_indexer = StringIndexer(inputCol="Channel_Code", outputCol="ChannelIndex")

#OHE
ohe_encoder = OneHotEncoder(inputCols=["OccupationIndex", "ChannelIndex"],
                        outputCols=["OccupationVector", "ChannelVec"])

#квантизация
discretizer = QuantileDiscretizer(numBuckets=5, inputCol="Age", outputCol="Age_quant")

#собираем все в вектор
feature_columns = [
                   'Age',
                   'Vintage',
                   'Avg_Account_Balance',
                   'GenderIndex',
                   'OccupationVector',
                   'ChannelVec',
                   'Age_quant'                 
]
vector_assembler = VectorAssembler(inputCols = feature_columns, outputCol = 'features')

собираем все в пайплайн

In [50]:
pipeline = Pipeline(stages=[
                           gender_indexer,
                           occupation_indexer,
                           channel_indexer,
                           ohe_encoder,
                           discretizer,
                           vector_assembler,
])

Давайте заново загрузим данные и сделаем трансформацию

---

In [51]:
data = spark.read.csv('credit_card_data.csv', header=True, inferSchema=True)
data = data.fillna({'Credit_Product': 'No'})
pipeline = pipeline.fit(data)

In [52]:
transformed_data = pipeline.transform(data)

In [53]:
transformed_data.show()

+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+---------------+------------+----------------+-------------+---------+--------------------+
|      ID|Gender|Age|Region_Code|   Occupation|Channel_Code|Vintage|Credit_Product|Avg_Account_Balance|Is_Active|Is_Lead|GenderIndex|OccupationIndex|ChannelIndex|OccupationVector|   ChannelVec|Age_quant|            features|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+---------------+------------+----------------+-------------+---------+--------------------+
|NNVBBKZB|Female| 73|      RG268|        Other|          X3|     43|            No|            1045696|       No|      0|        1.0|            2.0|         1.0|   (3,[2],[1.0])|(3,[1],[1.0])|      4.0|[73.0,43.0,104569...|
|IDD62UNG|Female| 30|      RG277|     Salaried|          X1|     32|            No|             581988|       No|      0|        1.0|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|      1.0|[30.0,32.0,581988...|
|HD3DSEMC|Female| 56|      RG268|Self_Employed|          X3|     26|            No|            1484315|      Yes|      0|        1.0|            0.0|         1.0|   (3,[0],[1.0])|(3,[1],[1.0])|      4.0|[56.0,26.0,148431...|
|BF3NC7KV|  Male| 34|      RG270|     Salaried|          X1|     19|            No|             470454|       No|      0|        0.0|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|      1.0|(11,[0,1,2,5,7,10...|
|TEASRWXV|Female| 30|      RG282|     Salaried|          X1|     33|            No|             886787|       No|      0|        1.0|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|      1.0|[30.0,33.0,886787...|
|ACUTYTWS|  Male| 56|      RG261|Self_Employed|          X1|     32|            No|             544163|      Yes|      0|        0.0|            0.0|         0.0|   (3,[0],[1.0])|(3,[0],[1.0])|      4.0|(11,[0,1,2,4,7,10...|
|ETQCZFEJ|  Male| 62|      RG282|        Other|          X3|     20|            No|            1056750|      Yes|      1|        0.0|            2.0|         1.0|   (3,[2],[1.0])|(3,[1],[1.0])|      4.0|(11,[0,1,2,6,8,10...|
|JJNJUQMQ|Female| 48|      RG265|Self_Employed|          X3|     13|            No|             444724|      Yes|      0|        1.0|            0.0|         1.0|   (3,[0],[1.0])|(3,[1],[1.0])|      3.0|[48.0,13.0,444724...|
|ZMQFYKCB|Female| 40|      RG283|Self_Employed|          X2|     38|            No|            1274284|       No|      0|        1.0|            0.0|         2.0|   (3,[0],[1.0])|(3,[2],[1.0])|      2.0|[40.0,38.0,127428...|
|NVKTFBA2|Female| 55|      RG268|Self_Employed|          X2|     49|           Yes|            2014239|       No|      0|        1.0|            0.0|         2.0|   (3,[0],[1.0])|(3,[2],[1.0])|      3.0|[55.0,49.0,201423...|
|NVC424KZ|  Male| 53|      RG254|Self_Employed|          X3|    123|            No|             980664|      Yes|      0|        0.0|            0.0|         1.0|   (3,[0],[1.0])|(3,[1],[1.0])|      3.0|(11,[0,1,2,4,8,10...|
|GZ5TMYIR|  Male| 27|      RG270|Self_Employed|          X1|     14|           Yes|             502787|       No|      0|        0.0|            0.0|         0.0|   (3,[0],[1.0])|(3,[0],[1.0])|      0.0|(11,[0,1,2,4,7],[...|
|FCPEEIY3|Female| 27|      RG277|     Salaried|          X1|     20|            No|             811591|      Yes|      0|        1.0|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|      0.0|(11,[0,1,2,3,5,7]...|
|KCE7JSFN|  Male| 31|      RG254|     Salaried|          X1|     31|           Yes|             938754|       No|      0|        0.0|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|      1.0|(11,[0,1,2,5,7,10...|
|EMEEHHBK|  Male| 79|      RG277|        Other|          X3|     57|            No|             832185|      Yes|      0|        0.0|            2.0|         1.0|   (3,[2],[1.0])|(3,[1],[1.0])|      4.0|(11,[0,1,2,6,8,10...|
|UJ2NJKKL|  Male| 33|      RG268|Self_Employed|          X2|     69|            No|             517063|      Yes|      1|        0.0|            0.0|         2.0|   (3,[0],[1.0])|(3,[2],[1.0])|      1.0|(11,[0,1,2,4,9,10...|
|CNGSPYWS|Female| 46|      RG268|        Other|          X3|     97|           Yes|            2282502|       No|      1|        1.0|            2.0|         1.0|   (3,[2],[1.0])|(3,[1],[1.0])|      2.0|[46.0,97.0,228250...|
|VH7NBNNQ|Female| 59|      RG283|        Other|          X3|     15|           Yes|            2384692|       No|      1|        1.0|            2.0|         1.0|   (3,[2],[1.0])|(3,[1],[1.0])|      4.0|[59.0,15.0,238469...|
|HDNJXDWC|Female| 65|      RG277|        Other|          X2|     20|            No|             341573|      Yes|      0|        1.0|            2.0|         2.0|   (3,[2],[1.0])|(3,[2],[1.0])|      4.0|[65.0,20.0,341573...|
|BDOKI4CP|Female| 37|      RG269|        Other|          X1|     63|            No|             633484|      Yes|      0|        1.0|            2.0|         0.0|   (3,[2],[1.0])|(3,[0],[1.0])|      2.0|[37.0,63.0,633484...|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+---------------+------------+----------------+-------------+---------+--------------------+
only showing top 20 rows

In [54]:
transformed_data.select('Is_Lead', 'features').show(5)

+-------+--------------------+
|Is_Lead|            features|
+-------+--------------------+
|      0|[73.0,43.0,104569...|
|      0|[30.0,32.0,581988...|
|      0|[56.0,26.0,148431...|
|      0|(11,[0,1,2,5,7,10...|
|      0|[30.0,33.0,886787...|
+-------+--------------------+
only showing top 5 rows

In [64]:
transformed_data.show(5)

+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+---------------+------------+----------------+-------------+---------+--------------------+
|      ID|Gender|Age|Region_Code|   Occupation|Channel_Code|Vintage|Credit_Product|Avg_Account_Balance|Is_Active|Is_Lead|GenderIndex|OccupationIndex|ChannelIndex|OccupationVector|   ChannelVec|Age_quant|            features|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+---------------+------------+----------------+-------------+---------+--------------------+
|NNVBBKZB|Female| 73|      RG268|        Other|          X3|     43|            No|            1045696|       No|      0|        1.0|            2.0|         1.0|   (3,[2],[1.0])|(3,[1],[1.0])|      4.0|[73.0,43.0,104569...|
|IDD62UNG|Female| 30|      RG277|     Salaried|          X1|     32|            No|             581988|       No|      0|        1.0|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|      1.0|[30.0,32.0,581988...|
|HD3DSEMC|Female| 56|      RG268|Self_Employed|          X3|     26|            No|            1484315|      Yes|      0|        1.0|            0.0|         1.0|   (3,[0],[1.0])|(3,[1],[1.0])|      4.0|[56.0,26.0,148431...|
|BF3NC7KV|  Male| 34|      RG270|     Salaried|          X1|     19|            No|             470454|       No|      0|        0.0|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|      1.0|(11,[0,1,2,5,7,10...|
|TEASRWXV|Female| 30|      RG282|     Salaried|          X1|     33|            No|             886787|       No|      0|        1.0|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|      1.0|[30.0,33.0,886787...|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+---------------+------------+----------------+-------------+---------+--------------------+
only showing top 5 rows

**Модельки**

Пора нам уже что-то обучить, начнем с логрега

In [55]:
from pyspark.ml.classification import LogisticRegression, LogisticRegressionModel

In [56]:
lr = LogisticRegression(featuresCol='features', labelCol='Is_Lead', predictionCol='prediction',
                        maxIter=100, probabilityCol='proba')

lr = lr.fit(transformed_data)

Сохраним

In [59]:
lr.save('logreg_model')

Загрузка

In [60]:
lr2 = LogisticRegressionModel.load('logreg_model')

Коэффициенты и метрики

In [61]:
print("Coefficients: " + str(lr.coefficients))
print("Intercept: " + str(lr.intercept))

Coefficients: [-0.016713044807987118,0.009916392983822526,9.91826749028193e-09,-0.05296577197114642,-1.5152849582681478,-0.5266676981678328,-1.5009517711168423,-1.5679772035552135,-0.1459536443737886,-0.05760664451981407,0.34189553941632866]
Intercept: 0.09853176624209481

In [62]:
print("Coefficients: " + str(lr2.coefficients))
print("Intercept: " + str(lr2.intercept))

Coefficients: [-0.016713044807987118,0.009916392983822526,9.91826749028193e-09,-0.05296577197114642,-1.5152849582681478,-0.5266676981678328,-1.5009517711168423,-1.5679772035552135,-0.1459536443737886,-0.05760664451981407,0.34189553941632866]
Intercept: 0.09853176624209481

In [63]:
print(f'ROC_AUC = {lr.summary.areaUnderROC}')

ROC_AUC = 0.7291587894202233

In [65]:
lr.summary.recallByLabel

[0.9880226422744709, 0.10472138347515783]

In [66]:
lr.params

[Param(parent='LogisticRegression_e3b7ee647e8e', name='aggregationDepth', doc='suggested depth for treeAggregate (>= 2).'),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='elasticNetParam', doc='the ElasticNet mixing parameter, in range [0, 1]. For alpha = 0, the penalty is an L2 penalty. For alpha = 1, it is an L1 penalty.'),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='family', doc='The name of family which is a description of the label distribution to be used in the model. Supported options: auto, binomial, multinomial'),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='featuresCol', doc='features column name.'),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='fitIntercept', doc='whether to fit an intercept term.'),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='labelCol', doc='label column name.'),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='lowerBoundsOnCoefficients', doc='The lower bounds on coefficients if fitting under bound constrained optimization. The bound matrix must be compatible with the shape (1, number of features) for binomial regression, or (number of classes, number of features) for multinomial regression.'),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='lowerBoundsOnIntercepts', doc='The lower bounds on intercepts if fitting under bound constrained optimization. The bounds vector size must beequal with 1 for binomial regression, or the number oflasses for multinomial regression.'),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='maxBlockSizeInMB', doc='maximum memory in MB for stacking input data into blocks. Data is stacked within partitions. If more than remaining data size in a partition then it is adjusted to the data size. Default 0.0 represents choosing optimal value, depends on specific algorithm. Must be >= 0.'),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='maxIter', doc='max number of iterations (>= 0).'),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='predictionCol', doc='prediction column name.'),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='probabilityCol', doc='Column name for predicted class conditional probabilities. Note: Not all models output well-calibrated probability estimates! These probabilities should be treated as confidences, not precise probabilities.'),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='rawPredictionCol', doc='raw prediction (a.k.a. confidence) column name.'),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='regParam', doc='regularization parameter (>= 0).'),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='standardization', doc='whether to standardize the training features before fitting the model.'),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='threshold', doc='Threshold in binary classification prediction, in range [0, 1]. If threshold and thresholds are both set, they must match.e.g. if threshold is p, then thresholds must be equal to [1-p, p].'),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='thresholds', doc="Thresholds in multi-class classification to adjust the probability of predicting each class. Array must have length equal to the number of classes, with values > 0, excepting that at most one value may be 0. The class with largest value p/t is predicted, where p is the original probability of that class and t is the class's threshold."),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='tol', doc='the convergence tolerance for iterative algorithms (>= 0).'),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='upperBoundsOnCoefficients', doc='The upper bounds on coefficients if fitting under bound constrained optimization. The bound matrix must be compatible with the shape (1, number of features) for binomial regression, or (number of classes, number of features) for multinomial regression.'),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='upperBoundsOnIntercepts', doc='The upper bounds on intercepts if fitting under bound constrained optimization. The bound vector size must be equal with 1 for binomial regression, or the number of classes for multinomial regression.'),
 Param(parent='LogisticRegression_e3b7ee647e8e', name='weightCol', doc='weight column name. If this is not set or empty, we treat all instance weights as 1.0.')]

In [67]:
lr.transform(transformed_data.select('Is_Lead', 'features')).show()

+-------+--------------------+--------------------+--------------------+----------+
|Is_Lead|            features|       rawPrediction|               proba|prediction|
+-------+--------------------+--------------------+--------------------+----------+
|      0|[73.0,43.0,104569...|[1.01703314359154...|[0.73439428907056...|       0.0|
|      0|[30.0,32.0,581988...|[1.88547782413292...|[0.86823905458579...|       0.0|
|      0|[56.0,26.0,148431...|[0.91147290916372...|[0.71330147094138...|       0.0|
|      0|(11,[0,1,2,5,7,10...|[2.02938356422968...|[0.88384780907754...|       0.0|
|      0|[30.0,33.0,886787...|[1.87253835313633...|[0.86675171295996...|       0.0|
|      0|(11,[0,1,2,4,7,10...|[2.23035701748859...|[0.90294265153487...|       0.0|
|      1|(11,[0,1,2,6,8,10...|[1.00819128083161...|[0.73266603083243...|       0.0|
|      0|[48.0,13.0,444724...|[1.25888814052434...|[0.77883464798448...|       0.0|
|      0|[40.0,38.0,127428...|[1.12259469904799...|[0.75446968923717...|       0.0|
|      0|[55.0,49.0,201423...|[0.91497543730865...|[0.71401721118479...|       0.0|
|      0|(11,[0,1,2,4,8,10...|[0.19336876809391...|[0.54819212095901...|       0.0|
|      0|(11,[0,1,2,4,7],[...|[3.29216632766676...|[0.96415908979132...|       0.0|
|      0|(11,[0,1,2,3,5,7]...|[2.29395368096059...|[0.90837504596206...|       0.0|
|      0|(11,[0,1,2,5,7,10...|[1.85560298933415...|[0.86478361697150...|       0.0|
|      0|(11,[0,1,2,6,8,10...|[0.92763379790491...|[0.71659498790825...|       0.0|
|      1|(11,[0,1,2,4,9,10...|[0.99463529076603...|[0.73000250624176...|       0.0|
|      1|[46.0,97.0,228250...|[0.70181981874054...|[0.66859112584372...|       0.0|
|      1|[59.0,15.0,238469...|[1.04742899933033...|[0.74028089094995...|       0.0|
|      0|[65.0,20.0,341573...|[1.03004250416164...|[0.73692413606874...|       0.0|
|      0|[37.0,63.0,633484...|[2.32693873772034...|[0.91108365507307...|       0.0|
+-------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

**Подбор параметров**

Тут нет всяких hyperopt, optuna...есть стандартная кросс-валидация и поиск по сетке

In [68]:
from pyspark.ml.tuning import ParamGridBuilder, TrainValidationSplit, CrossValidator
from pyspark.ml.evaluation import BinaryClassificationEvaluator

Для этого соберем все в пайплайн. Можно было "вложить" старый пайплайн в новый, но соберем все с самого начала

In [69]:
#string в индесы
gender_indexer = StringIndexer(inputCol="Gender", outputCol="GenderIndex")
occupation_indexer = StringIndexer(inputCol="Occupation", outputCol="OccupationIndex")
channel_indexer = StringIndexer(inputCol="Channel_Code", outputCol="ChannelIndex")

#OHE
ohe_encoder = OneHotEncoder(inputCols=["OccupationIndex", "ChannelIndex"],
                        outputCols=["OccupationVector", "ChannelVec"])

#квантизация
discretizer = QuantileDiscretizer(numBuckets=5, inputCol="Age", outputCol="Age_quant")

#собираем все в вектор
feature_columns = [
                   'Age',
                   'Vintage',
                   'Avg_Account_Balance',
                   'GenderIndex',
                   'OccupationVector',
                   'ChannelVec',
                   'Age_quant'                 
]
vector_assembler = VectorAssembler(inputCols = feature_columns, outputCol = 'features')

lr = LogisticRegression(featuresCol='features', labelCol='Is_Lead', predictionCol='prediction',
                        maxIter=100, probabilityCol='proba')

In [70]:
pipeline = Pipeline(stages=[
                           gender_indexer,
                           occupation_indexer,
                           channel_indexer,
                           ohe_encoder,
                           discretizer,
                           vector_assembler,
                           lr
])

Сетка параметров

In [71]:
paramGrid = ParamGridBuilder() \
    .addGrid(discretizer.numBuckets, [5, 10]) \
    .addGrid(lr.maxIter, [10, 20]) \
    .build()

Разобьем данные на train, test

In [72]:
train, test = data.randomSplit([0.7, 0.3], seed=7)

Описываем стратегию кросс-валидации

In [73]:
crossval = CrossValidator(estimator=pipeline,
                          estimatorParamMaps=paramGrid,
                          evaluator=BinaryClassificationEvaluator(rawPredictionCol='rawPrediction',
                                                                  labelCol='Is_Lead', metricName='areaUnderROC'),
                          numFolds=2,
                          parallelism=2)

Гоняем сетку. Знаю, перебор по сетке прошлый век, но что поделать)

In [74]:
cvModel = crossval.fit(train)

In [75]:
cvModel.avgMetrics

[0.7288496129318909, 0.7292687203167076, 0.7285909942173556, 0.729215839539737]

Параметры

In [76]:
import numpy as np
print(cvModel.getEstimatorParamMaps()[np.argmax(cvModel.avgMetrics)])

{Param(parent='QuantileDiscretizer_81456031be4e', name='numBuckets', doc='Maximum number of buckets (quantiles, or categories) into which data points are grouped. Must be >= 2.'): 5, Param(parent='LogisticRegression_9615e7e8e556', name='maxIter', doc='max number of iterations (>= 0).'): 20}

Сделаем предикт

In [77]:
test_pred = cvModel.transform(test)

In [78]:
test_pred.show()

+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+---------------+------------+----------------+-------------+---------+--------------------+--------------------+--------------------+----------+
|      ID|Gender|Age|Region_Code|   Occupation|Channel_Code|Vintage|Credit_Product|Avg_Account_Balance|Is_Active|Is_Lead|GenderIndex|OccupationIndex|ChannelIndex|OccupationVector|   ChannelVec|Age_quant|            features|       rawPrediction|               proba|prediction|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+---------------+------------+----------------+-------------+---------+--------------------+--------------------+--------------------+----------+
|224VSEND|  Male| 29|      RG261|     Salaried|          X1|     13|            No|             736866|      Yes|      0|        0.0|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|      1.0|(11,[0,1,2,5,7,10...|[2.01360806307522...|[0.88221844995396...|       0.0|
|226C7GAH|  Male| 45|      RG268|Self_Employed|          X3|     93|            No|             634979|      Yes|      0|        0.0|            0.0|         1.0|   (3,[0],[1.0])|(3,[1],[1.0])|      2.0|(11,[0,1,2,4,8,10...|[0.70215318028974...|[0.66866498695466...|       0.0|
|2293VNUQ|Female| 26|      RG271|     Salaried|          X1|     13|            No|             561928|       No|      0|        1.0|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|      0.0|(11,[0,1,2,3,5,7]...|[2.35200398194772...|[0.91309338295717...|       0.0|
|22A2ZYXE|Female| 72|      RG251|        Other|          X2|     74|           Yes|             845980|      Yes|      0|        1.0|            2.0|         2.0|   (3,[2],[1.0])|(3,[2],[1.0])|      4.0|[72.0,74.0,845980...|[0.60014407586441...|[0.64568926782122...|       0.0|
|22AWEYJP|Female| 46|      RG261|Self_Employed|          X3|     51|            No|            1594443|       No|      1|        1.0|            0.0|         1.0|   (3,[0],[1.0])|(3,[1],[1.0])|      2.0|[46.0,51.0,159444...|[1.17738295429921...|[0.76447692575318...|       0.0|
|22BAGKFG|  Male| 62|      RG284|        Other|          X2|     45|           Yes|             746122|       No|      0|        0.0|            2.0|         2.0|   (3,[2],[1.0])|(3,[2],[1.0])|      4.0|(11,[0,1,2,6,9,10...|[0.67996396514064...|[0.66373065474964...|       0.0|
|22CCUDLW|  Male| 31|      RG254|     Salaried|          X1|     32|            No|            1021337|       No|      0|        0.0|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|      1.0|(11,[0,1,2,5,7,10...|[1.85418818062989...|[0.86461809386997...|       0.0|
|22EHAPRA|  Male| 71|      RG251|        Other|          X3|    110|            No|            1213960|      Yes|      1|        0.0|            2.0|         1.0|   (3,[2],[1.0])|(3,[1],[1.0])|      4.0|(11,[0,1,2,6,8,10...|[0.25852580445132...|[0.56427386741552...|       0.0|
|22EYLWV9|  Male| 60|      RG282|Self_Employed|          X2|     97|            No|            1497086|       No|      0|        0.0|            0.0|         2.0|   (3,[0],[1.0])|(3,[2],[1.0])|      4.0|(11,[0,1,2,4,9,10...|[0.13843551672125...|[0.53455371338834...|       0.0|
|22FOWQ35|  Male| 51|      RG273|Self_Employed|          X3|     37|           Yes|            1266060|       No|      1|        0.0|            0.0|         1.0|   (3,[0],[1.0])|(3,[1],[1.0])|      3.0|(11,[0,1,2,4,8,10...|[1.01536242617524...|[0.73406827247760...|       0.0|
|22FYHU4G|  Male| 27|      RG284|     Salaried|          X1|     13|            No|             920179|       No|      0|        0.0|            1.0|         0.0|   (3,[1],[1.0])|(3,[0],[1.0])|      0.0|(11,[0,1,2,5,7],[...|[2.31753369148344...|[0.91031879863154...|       0.0|
|22GKHLRT|  Male| 57|      RG254|Self_Employed|          X2|     32|            No|             561616|      Yes|      0|        0.0|            0.0|         2.0|   (3,[0],[1.0])|(3,[2],[1.0])|      4.0|(11,[0,1,2,4,9,10...|[0.74598468630021...|[0.67830315367936...|       0.0|
|22GTBFLA|  Male| 57|      RG254|Self_Employed|          X3|     55|           Yes|            2236899|       No|      1|        0.0|            0.0|         1.0|   (3,[0],[1.0])|(3,[1],[1.0])|      4.0|(11,[0,1,2,4,8,10...|[0.58734450391746...|[0.64275561989341...|       0.0|
|22KAE9CY|Female| 45|      RG283|        Other|          X2|     99|           Yes|            1034998|      Yes|      1|        1.0|            2.0|         2.0|   (3,[2],[1.0])|(3,[2],[1.0])|      2.0|[45.0,99.0,103499...|[0.58598936511851...|[0.64244439163295...|       0.0|
|22KMFEDX|  Male| 64|      RG270|        Other|          X2|     21|            No|             345409|      Yes|      0|        0.0|            2.0|         2.0|   (3,[2],[1.0])|(3,[2],[1.0])|      4.0|(11,[0,1,2,6,9,10...|[0.95528018640869...|[0.72217582536207...|       0.0|
|22NWGVDD|  Male| 77|      RG280|        Other|          X3|    129|           Yes|             715835|       No|      0|        0.0|            2.0|         1.0|   (3,[2],[1.0])|(3,[1],[1.0])|      4.0|(11,[0,1,2,6,8,10...|[0.17060477713693...|[0.54254804406662...|       0.0|
|22O2OUPS|Female| 70|      RG253|        Other|          X2|     45|            No|            1795664|       No|      0|        1.0|            2.0|         2.0|   (3,[2],[1.0])|(3,[2],[1.0])|      4.0|[70.0,45.0,179566...|[0.84917179070398...|[0.70039337781888...|       0.0|
|22PF8VHQ|  Male| 65|      RG263|        Other|          X2|    104|           Yes|             714865|      Yes|      1|        0.0|            2.0|         2.0|   (3,[2],[1.0])|(3,[2],[1.0])|      4.0|(11,[0,1,2,6,9,10...|[0.14026064324875...|[0.53500778713161...|       0.0|
|22RDEFWM|  Male| 48|      RG267|Self_Employed|          X3|     99|            No|             576728|       No|      0|        0.0|            0.0|         1.0|   (3,[0],[1.0])|(3,[1],[1.0])|      3.0|(11,[0,1,2,4,8,10...|[0.35358475707128...|[0.58748660240391...|       0.0|
|22RQT8WL|Female| 39|      RG274|Self_Employed|          X2|     32|           Yes|            1322379|       No|      0|        1.0|            0.0|         2.0|   (3,[0],[1.0])|(3,[2],[1.0])|      2.0|[39.0,32.0,132237...|[1.17070752413449...|[0.76327288022869...|       0.0|
+--------+------+---+-----------+-------------+------------+-------+--------------+-------------------+---------+-------+-----------+---------------+------------+----------------+-------------+---------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

Проверим модель

In [79]:
evaluator = BinaryClassificationEvaluator(rawPredictionCol='rawPrediction',
                                          labelCol='Is_Lead', metricName='areaUnderROC')

In [80]:
evaluator.evaluate(test_pred)

0.7282678459607251

Сохраним пайплайн

In [81]:
cvModel.write().save('model')

вместо кросс-валидации можно взять TrainValidationSplit для подбора параметров, это train_test_split

**Ваша любимая домашка**

Кто проходил курс GPU прекрасно знают датасет.
Данные находятся в файле Train_Set_90621.csv
Amount Defaulted - эту переменную нужно удалить=)

Что ожидается? - творчество)

    1) Начните с анализа баланса классов, пропусков, статистик при помощи DataFrame API
    2) Посомтрите статистики, заполните пропуски при помощи уже MLlib
    3) Соберите пайплайн, похожий на наш, где будет обработка данных, обучение моделей и все при помощи Spark
    4) Разбейте данные на train/test + реализуйте подбор параметров одним из способов спарка
    5) Cохраниет пайплайн на диск
    6) Проверьте качество модели на отложенной test выборке

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

%cd drive/MyDrive/sber_risk_spark/lesson_4/

Mounted at /content/drive/
/content/drive/MyDrive/sber_risk_spark/lesson_4

In [3]:
!pip install pyspark findspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 37 kB/s
Collecting findspark
  Downloading findspark-1.4.2-py2.py3-none-any.whl (4.2 kB)
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 14.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=1af9f1c7d87221ee9deffcaf469ef2d8159a4e49bb66b82529555aa817ce39f9
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark, findspark
Successfully installed findspark-1.4.2 py4j-0.10.9.2 pyspark-3.2.0

In [4]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

conf = SparkConf().set('spark.ui.port', '4050').set('spark.serializer', 'org.apache.spark.serializer.KryoSerializer')\
                  .set('spark.dynamicAllocation.enabled', 'true')\
                  .set('spark.shuffle.service.enabled', 'true') #трекер, чтобы возвращать ресурсы
sc = SparkContext(conf=conf)
spark = SparkSession.builder.master('local[*]').getOrCreate()

In [66]:
data = spark.read.csv('Train_Set_90621.csv', header=True, inferSchema=True)

In [67]:
# удаление Amount Defaulted & Approved_Timestamp
data = data.drop('Amount Defaulted', 'Approved_Timestamp')

data.show(3)

+--------------+--------------+---------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|Application ID|   Bank Masked|Bank Type|         Name Masked|Business Owner State|Business_Industry_Type_Code|Approved_Year|New Business|Term|    BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Final_Appved_Amount|Default_Status|
+--------------+--------------+---------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|    1020200001| Bank_Name_316|  Private| Business_Name_10007|       Uttar Pradesh|                     525161|         2005|           1| 219|Uttar Pradesh|            3|       42|              18550000|        18|           18|                             4|                3500000|                      780590|          18550000|              25650|            1|             3|                   N|                 N|           0|           13912500|             0|
|    1020200002|Bank_Name_1062|     Govt|Business_Name_130906|       Uttar Pradesh|                       1231|         2006|           1|  71|Uttar Pradesh|            5|       20|               3045000|         6|           10|                            16|                1666667|                     1835637|           2450000|                  0|            1|             0|                   Y|                 N|           0|            1225000|             1|
|    1020200003|  Bank_Name_39|  Private|Business_Name_105953|       Uttar Pradesh|                     322442|         2007|           2|  84|  Maharashtra|            8|       16|               1750000|         7|           10|                             8|                1333333|                     2373333|           1750000|                  0|            2|             2|                   Y|                 N|           0|            1487500|             0|
+--------------+--------------+---------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
only showing top 3 rows

In [68]:
from pyspark.sql.functions import col, isnan, when, count

# check for NaN values
data.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in data.columns]).show()

+--------------+-----------+---------+-----------+--------------------+---------------------------+-------------+------------+----+---------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|Application ID|Bank Masked|Bank Type|Name Masked|Business Owner State|Business_Industry_Type_Code|Approved_Year|New Business|Term|BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Final_Appved_Amount|Default_Status|
+--------------+-----------+---------+-----------+--------------------+---------------------------+-------------+------------+----+---------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|             0|         80|       80|          1|                   3|                          0|            0|          36|   0|       81|            0|        0|                     0|         0|            0|                             0|                      3|                           0|                 0|                  0|            0|             0|                 978|               552|           0|                  0|             0|
+--------------+-----------+---------+-----------+--------------------+---------------------------+-------------+------------+----+---------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+

In [69]:
# class balance
data.groupBy('Default_Status').count().show()

+--------------+------+
|Default_Status| count|
+--------------+------+
|             1| 35238|
|             0|159880|
+--------------+------+

In [70]:
# statistics
data.summary().show()

+-------+-----------------+---------------+---------+-------------------+--------------------+---------------------------+-----------------+-------------------+------------------+-----------+-----------------+------------------+----------------------+-----------------+------------------+------------------------------+-----------------------+----------------------------+--------------------+-------------------+------------------+------------------+--------------------+------------------+-----------------+--------------------+-------------------+
|summary|   Application ID|    Bank Masked|Bank Type|        Name Masked|Business Owner State|Business_Industry_Type_Code|    Approved_Year|       New Business|              Term|  BankState|    Interest Rate|         Employees|Gross Disbursed Amount|       Term_years|     Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|  Gross_Apprv_Amount|Company Branch Code|     City or Rural|    Jobs Generated|Carry-forward Credit|Documents Provided|     Balance Left| Final_Appved_Amount|     Default_Status|
+-------+-----------------+---------------+---------+-------------------+--------------------+---------------------------+-----------------+-------------------+------------------+-----------+-----------------+------------------+----------------------+-----------------+------------------+------------------------------+-----------------------+----------------------------+--------------------+-------------------+------------------+------------------+--------------------+------------------+-----------------+--------------------+-------------------+
|  count|           195118|         195038|   195038|             195117|              195115|                     195118|           195118|             195082|            195118|     195037|           195118|            195118|                195118|           195118|            195118|                        195118|                 195115|                      195118|              195118|             195118|            195118|            195118|              194140|            194566|           195118|              195118|             195118|
|   mean|   1.0202975595E9|           null|     null|               null|                null|          399104.7059881713|2008.122751360715| 1.2793030623020063|110.73985998216465|        0.0|7.327914390266403|19.122981990385306|   1.414491644937935E7|9.245461720599842|11.418362221834991|             15.32921104152359|   1.8325220522256106E7|           1253178.777488494|1.3565614745999856E7|  2812.721501860413|0.7546971576174417| 9.055151241812647|                null|              null| 9.18418597976609| 1.052897772045634E7|0.18059840711774414|
| stddev|56325.85924925306|           null|     null|               null|                null|         263815.88967135985|6.256458086968017|0.45111900679753353|  78.8517723449656|        0.0| 2.97771377479778|130.03260689491435|  2.0299306581284165E7|6.569698906552671| 248.7441977059397|               11.791946682111|     1.75906858249903E8|           645567.0835725039| 1.996955197290655E7|    12897.919612614|0.6469141971067718|248.31703711245234|                null|              null|3962.911449725469|1.6101767759185832E7| 0.3846860809731266|
|    min|       1020200001|    Bank_Name_1|     Govt|    Business_Name_1|               Delhi|                       1230|             1900|                  0|                 0|          0|                2|                 0|                     0|                0|                 0|                             1|                      0|                      100002|               14000|                  0|                 0|                 0|                   N|                 N|                0|                7000|                  0|
|    25%|       1020248761|           null|     null|               null|                null|                     236341|             2005|                  1|                60|        0.0|                5|                 3|               2944550|                5|                 0|                             7|                 500000|                      699506|             2450000|                  1|                 0|                 0|                null|              null|                0|             1487500|                  0|
|    50%|       1020297541|           null|     null|               null|                null|                     446541|             2009|                  1|                84|        0.0|                7|                 7|               7000000|                7|                 1|                            13|                1500000|                     1239644|             6300000|                  1|                 1|                 0|                null|              null|                0|             4375000|                  0|
|    75%|       1020346344|           null|     null|               null|                null|                     562961|             2011|                  2|               120|        0.0|               10|                17|              16730000|               10|                 4|                            19|                7200000|                     1778289|            15890000|                  1|                 1|                 1|                null|              null|                0|            12250000|                  0|
|    max|       1020395118|Bank_Number_999|  Private|Business_Name_99999|         Uttarakhand|                     929351|             2017|                  2|               461|Uttarakhand|               12|             22222|             732550000|               38|              8800|                            50|            43200000000|                     2500000|           350000000|              92000|                 2|              8800|                   Y|                 Y|          1750000|           315000000|                  1|
+-------+-----------------+---------------+---------+-------------------+--------------------+---------------------------+-----------------+-------------------+------------------+-----------+-----------------+------------------+----------------------+-----------------+------------------+------------------------------+-----------------------+----------------------------+--------------------+-------------------+------------------+------------------+--------------------+------------------+-----------------+--------------------+-------------------+

In [71]:
# integer columns with NaNs
data.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) 
    for c in data.columns if data.select(c).dtypes[0][1]=='int']).show()

+--------------+---------------------------+-------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+----------------------------+------------------+-------------------+-------------+--------------+------------+-------------------+--------------+
|Application ID|Business_Industry_Type_Code|Approved_Year|New Business|Term|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Balance Left|Final_Appved_Amount|Default_Status|
+--------------+---------------------------+-------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+----------------------------+------------------+-------------------+-------------+--------------+------------+-------------------+--------------+
|             0|                          0|            0|          36|   0|            0|        0|                     0|         0|            0|                             0|                           0|                 0|                  0|            0|             0|           0|                  0|             0|
+--------------+---------------------------+-------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+----------------------------+------------------+-------------------+-------------+--------------+------------+-------------------+--------------+

In [72]:
# string columns with NaNs
data.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) 
    for c in data.columns if data.select(c).dtypes[0][1]=='string']).show()

+-----------+---------+-----------+--------------------+---------+--------------------+------------------+
|Bank Masked|Bank Type|Name Masked|Business Owner State|BankState|Carry-forward Credit|Documents Provided|
+-----------+---------+-----------+--------------------+---------+--------------------+------------------+
|         80|       80|          1|                   3|       81|                 978|               552|
+-----------+---------+-----------+--------------------+---------+--------------------+------------------+

In [73]:
# fill integer NaNs
from pyspark.ml.feature import Imputer

imputer = Imputer(inputCols=["New Business"], outputCols=["New Business"], strategy='mean')
imputer = imputer.fit(data)
data = imputer.transform(data)

In [75]:
import pyspark.sql.functions as F

# fill string NaNs with the most frequent values
for col in [c for c in data.columns if data.select(c).dtypes[0][1]=='string']:
    most_freq = data.groupBy(col).count().orderBy('count', ascending=False).first()[col]
    data = data.fillna({col: most_freq})

In [87]:
data.show(5)

+--------------+--------------+---------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|Application ID|   Bank Masked|Bank Type|         Name Masked|Business Owner State|Business_Industry_Type_Code|Approved_Year|New Business|Term|    BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Final_Appved_Amount|Default_Status|
+--------------+--------------+---------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|    1020200001| Bank_Name_316|  Private| Business_Name_10007|       Uttar Pradesh|                     525161|         2005|           1| 219|Uttar Pradesh|            3|       42|              18550000|        18|           18|                             4|                3500000|                      780590|          18550000|              25650|            1|             3|                   N|                 N|           0|           13912500|             0|
|    1020200002|Bank_Name_1062|     Govt|Business_Name_130906|       Uttar Pradesh|                       1231|         2006|           1|  71|Uttar Pradesh|            5|       20|               3045000|         6|           10|                            16|                1666667|                     1835637|           2450000|                  0|            1|             0|                   Y|                 N|           0|            1225000|             1|
|    1020200003|  Bank_Name_39|  Private|Business_Name_105953|       Uttar Pradesh|                     322442|         2007|           2|  84|  Maharashtra|            8|       16|               1750000|         7|           10|                             8|                1333333|                     2373333|           1750000|                  0|            2|             2|                   Y|                 N|           0|            1487500|             0|
|    1020200004|   Bank_Name_3|     Govt|Business_Name_103197|              Kerala|                       1231|         2009|           1| 300|        Delhi|            8|        4|              38850000|        25|            2|                             6|                 333333|                     2346786|          38850000|                  1|            1|             0|                   N|                 N|           0|           29137500|             0|
|    1020200005| Bank_Name_126|     Govt|Business_Name_118932|               Delhi|                       1231|         2002|           2| 153|  Maharashtra|           11|        4|               2800000|        13|            0|                             8|                 333333|                     2382995|           2800000|                  1|            2|             0|                   N|                 Y|           0|            2380000|             0|
+--------------+--------------+---------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
only showing top 5 rows

In [88]:
# count distinct values in columns
data.agg(*(F.countDistinct(F.col(c)).alias(c) for c in data.columns)).show()

# delete string columns with a lot of unique values
data = data.drop('Bank Masked', 'Name Masked', 'Business_Industry_Type_Code', 'Company Branch Code')

+--------------+-----------+---------+-----------+--------------------+---------------------------+-------------+------------+----+---------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|Application ID|Bank Masked|Bank Type|Name Masked|Business Owner State|Business_Industry_Type_Code|Approved_Year|New Business|Term|BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Final_Appved_Amount|Default_Status|
+--------------+-----------+---------+-----------+--------------------+---------------------------+-------------+------------+----+---------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|        195118|      42529|        2|     150526|                  10|                       2077|           19|           3| 364|       12|           11|      431|                 36989|        39|          234|                            50|                   1854|                      186948|              9034|               1635|            3|           154|                   2|                 2|           3|              15496|             2|
+--------------+-----------+---------+-----------+--------------------+---------------------------+-------------+------------+----+---------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+

In [89]:
# integer columns with NaNs
data.select([count(when(isnan(c) | F.col(c).isNull(), c)).alias(c) 
    for c in data.columns if data.select(c).dtypes[0][1]=='int']).show()

+--------------+-------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+----------------------------+------------------+-------------+--------------+------------+-------------------+--------------+
|Application ID|Approved_Year|New Business|Term|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Funds available with company|Gross_Apprv_Amount|City or Rural|Jobs Generated|Balance Left|Final_Appved_Amount|Default_Status|
+--------------+-------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+----------------------------+------------------+-------------+--------------+------------+-------------------+--------------+
|             0|            0|           0|   0|            0|        0|                     0|         0|            0|                             0|                           0|                 0|            0|             0|           0|                  0|             0|
+--------------+-------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+----------------------------+------------------+-------------+--------------+------------+-------------------+--------------+

In [94]:
from pyspark.ml.feature import StringIndexer, IndexToString, OneHotEncoder
from pyspark.ml import Pipeline
from pyspark.ml.feature import QuantileDiscretizer, VectorAssembler

from pyspark.ml.classification import LogisticRegression, LogisticRegressionModel

from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [95]:
#string в индесы
BankType_indexer = StringIndexer(inputCol="Bank Type", outputCol="BankTypeIndex")
BusOwner_indexer = StringIndexer(inputCol="Business Owner State", outputCol="BusOwnerIndex")
BankState_indexer = StringIndexer(inputCol="BankState", outputCol="BankStateIndex")
Carry_indexer = StringIndexer(inputCol="Carry-forward Credit", outputCol="CarryCreditIndex")
Docs_indexer = StringIndexer(inputCol="Documents Provided", outputCol="DocsProvIndex")

#OHE
ohe_encoder = OneHotEncoder(inputCols=["BankTypeIndex", "BusOwnerIndex",
                                       "BankStateIndex", "CarryCreditIndex", 
                                       "DocsProvIndex"],
                            outputCols=["BankTypeVec", "BusOwnerVec",
                                        "BankStateVec", "CarryCreditVec",
                                        "DocsProvVec"])

# quant -> Term, Employees, Term_years, Jobs Retained, Jobs Generated

#квантизация
discTerm = QuantileDiscretizer(numBuckets=10, inputCol="Term", outputCol="Term_quant")
discEmployees = QuantileDiscretizer(numBuckets=10, inputCol="Employees", outputCol="Employees_quant")
discTerm_years = QuantileDiscretizer(numBuckets=5, inputCol="Term_years", outputCol="Term_years_quant")
discJobs_R = QuantileDiscretizer(numBuckets=10, inputCol="Jobs Retained", outputCol="Jobs_R_quant")
discJobs_G = QuantileDiscretizer(numBuckets=10, inputCol="Jobs Generated", outputCol="Jobs_G_quant")

#собираем все в вектор
feature_columns = ["New Business", "Interest Rate", "Gross Disbursed Amount",
                   "Male to Female Employees Ratio", "Funds available with company", 
                   "City or Rural", "Gross_Apprv_Amount", "Balance Left", "Final_Appved_Amount",
                   "BankTypeVec", "BusOwnerVec", "BankStateVec", "CarryCreditVec", "DocsProvVec",
                   "Term_quant", "Employees_quant", "Term_years_quant", "Jobs_R_quant", "Jobs_G_quant"
                   ]
vector_assembler = VectorAssembler(inputCols = feature_columns, outputCol = 'features')

lr = LogisticRegression(featuresCol='features', labelCol='Default_Status', predictionCol='prediction',
                        maxIter=100, probabilityCol='proba')

pipeline = Pipeline(stages=[BankType_indexer,
                            BusOwner_indexer,
                            BankState_indexer,
                            Carry_indexer,
                            Docs_indexer,
                            ohe_encoder,
                            discTerm,
                            discEmployees,
                            discTerm_years,
                            discJobs_R,
                            discJobs_G,
                            vector_assembler,
                            lr
                            ]
                    )
pipeline.write().save('HW_pipeline')

In [96]:
paramGrid = ParamGridBuilder().addGrid(discJobs_R.numBuckets, [5, 10])\
                              .addGrid(discJobs_G.numBuckets, [5, 10])\
                              .addGrid(lr.maxIter, [100, 70])\
                              .build()

In [97]:
train, test = data.randomSplit([0.7, 0.3], seed=7)

In [98]:
crossval = CrossValidator(estimator=pipeline,
                          estimatorParamMaps=paramGrid,
                          evaluator=BinaryClassificationEvaluator(rawPredictionCol='prediction',
                                                                  labelCol='Default_Status', metricName='areaUnderROC'),
                          numFolds=5,
                          parallelism=2)

cvModel = crossval.fit(train)
test_pred = cvModel.transform(test)
test_pred.show(6)

+--------------+---------+--------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+-------------+-------------+--------------+----------------+-------------+-------------+-------------+--------------+--------------+-------------+----------+---------------+----------------+------------+------------+--------------------+--------------------+--------------------+----------+
|Application ID|Bank Type|Business Owner State|Approved_Year|New Business|Term|    BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Final_Appved_Amount|Default_Status|BankTypeIndex|BusOwnerIndex|BankStateIndex|CarryCreditIndex|DocsProvIndex|  BankTypeVec|  BusOwnerVec|  BankStateVec|CarryCreditVec|  DocsProvVec|Term_quant|Employees_quant|Term_years_quant|Jobs_R_quant|Jobs_G_quant|            features|       rawPrediction|               proba|prediction|
+--------------+---------+--------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+-------------+-------------+--------------+----------------+-------------+-------------+-------------+--------------+--------------+-------------+----------+---------------+----------------+------------+------------+--------------------+--------------------+--------------------+----------+
|    1020200003|  Private|       Uttar Pradesh|         2007|           2|  84|  Maharashtra|            8|       16|               1750000|         7|           10|                             8|                1333333|                     2373333|           1750000|            2|             2|                   Y|                 N|           0|            1487500|             0|          0.0|          3.0|           1.0|             1.0|          0.0|(1,[0],[1.0])|(9,[3],[1.0])|(11,[1],[1.0])|     (1,[],[])|(1,[0],[1.0])|       4.0|            6.0|             2.0|         3.0|         2.0|(37,[0,1,2,3,4,5,...|[1.81553553037120...|[0.86002956325981...|       0.0|
|    1020200006|  Private|         Maharashtra|         2009|           1|  84|  Maharashtra|            6|       10|              10500000|         7|            0|                            16|                 833333|                      392186|          10500000|            2|             0|                   N|                 Y|           0|            7875000|             0|          0.0|          2.0|           1.0|             0.0|          1.0|(1,[0],[1.0])|(9,[2],[1.0])|(11,[1],[1.0])| (1,[0],[1.0])|    (1,[],[])|       4.0|            5.0|             2.0|         1.0|         1.0|(37,[0,1,2,3,4,5,...|[2.40301480739477...|[0.91705690893261...|       0.0|
|    1020200008|  Private|       Uttar Pradesh|         2006|           1|  60|        Delhi|            6|        6|               3500000|         5|            2|                             5|                 500000|                     1525676|           3500000|            0|             0|                   N|                 N|           0|            1750000|             0|          0.0|          3.0|           0.0|             0.0|          0.0|(1,[0],[1.0])|(9,[3],[1.0])|(11,[0],[1.0])| (1,[0],[1.0])|(1,[0],[1.0])|       2.0|            3.0|             1.0|         2.0|         1.0|(37,[0,1,2,3,4,6,...|[1.17734086554576...|[0.76446934750645...|       0.0|
|    1020200010|  Private|         Maharashtra|         2017|           1| 120|        Delhi|           12|       60|              42000000|        10|            0|                            10|                5000000|                     1186740|          42000000|            0|             0|                   N|                 N|           0|           31500000|             0|          0.0|          2.0|           0.0|             0.0|          0.0|(1,[0],[1.0])|(9,[2],[1.0])|(11,[0],[1.0])| (1,[0],[1.0])|(1,[0],[1.0])|       5.0|            8.0|             2.0|         1.0|         1.0|(37,[0,1,2,3,4,6,...|[2.30850153947890...|[0.90957868958088...|       0.0|
|    1020200011|     Govt|       Uttar Pradesh|         2010|           1| 303|Uttar Pradesh|            8|        8|               9800000|        25|            0|                            21|               33600000|                     1547232|           9800000|            0|             0|                   N|                 N|           0|            7350000|             1|          1.0|          3.0|           3.0|             0.0|          0.0|    (1,[],[])|(9,[3],[1.0])|(11,[3],[1.0])| (1,[0],[1.0])|(1,[0],[1.0])|       7.0|            4.0|             3.0|         1.0|         1.0|(37,[0,1,2,3,4,6,...|[3.07645159785049...|[0.95591087793058...|       0.0|
|    1020200013|     Govt|               Delhi|         2010|           1|  24|        Delhi|           11|        5|               7910000|         2|            0|                            33|               33000000|                      267120|           7910000|            0|             0|                   N|                 N|           0|            5932500|             0|          1.0|          0.0|           0.0|             0.0|          0.0|    (1,[],[])|(9,[0],[1.0])|(11,[0],[1.0])| (1,[0],[1.0])|(1,[0],[1.0])|       0.0|            3.0|             0.0|         1.0|         1.0|(37,[0,1,2,3,4,6,...|[0.41790029662721...|[0.60298070027790...|       0.0|
+--------------+---------+--------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+-------------+-------------+--------------+----------------+-------------+-------------+-------------+--------------+--------------+-------------+----------+---------------+----------------+------------+------------+--------------------+--------------------+--------------------+----------+
only showing top 6 rows

In [99]:
evaluator = BinaryClassificationEvaluator(rawPredictionCol='prediction',
                                          labelCol='Default_Status', metricName='areaUnderROC')
evaluator.evaluate(test_pred)

0.5141579921660675

In [100]:
cvModel.write().save('HW_model')